[{:description "I can weave this to make sacks.", :name "Jute fibre", :today {:trend "negative", :price "- 73"}, :type "Default", :typeIcon "http://www.runescape.com/img/categories/Default", :icon "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=5931", :id 5931, :current {:trend "neutral", :price "1,466"}, :members "true", :icon_large "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=5931"} {:description "A jute plant seed - plant in a hops patch.", :name "Jute seed", :today {:trend "neutral", :price 0}, :type "Default", :typeIcon "http://www.runescape.com/img/categories/Default", :icon "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=5306", :id 5306, :current {:trend "neutral", :price 4}, :members "true", :icon_large "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=5306"}]