.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background-color: #85506e;
}

.nav-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-home {
  left: 0.5rem;
  height: 2rem;
  line-height: 2rem;
  width: 4rem;
  text-align: center;
}

.nav-search {
  right: calc(0.5rem + 4rem);
  height: 2rem;
}

.nav-search-button {
  right: 0.5rem;
  height: 2rem;
  width: 4rem;
}

.results {
  padding-top: 3rem;
}