{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/%27perfect%27_ring",
  :name "'perfect' ring",
  :value "2025",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=773",
  :ge_value "0",
  :id 773,
  :examine "A perfect ruby ring.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=773"},
 :recipes
 [{:materials
   [{:name "'perfect' gold bar", :quantity "1"}
    {:name "Ruby", :quantity "1"}],
   :skills [{:name "Crafting", :level "40", :exp "70"}],
   :members_only true,
   :ticks "3",
   :tools "Ring mould",
   :facilities "Anvil"}]}
