{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Adamant_brutal",
  :name "Adamant brutal",
  :value "95",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=4798",
  :ge_value "0",
  :id 4798,
  :examine "Blunt adamantite arrow... ouch.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=4798"},
 :recipes
 [{:materials
   [{:name "Flighted ogre arrow", :quantity "6"}
    {:name "Adamantite nails", :quantity "6"}],
   :skills [{:name "Fletching", :level "62", :exp "61.2"}],
   :members_only true,
   :ticks "2",
   :tools "Hammer",
   :facilities nil}]}
