{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Adamant_2h_sword",
  :name "Adamant 2h sword",
  :value "6400",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1317",
  :ge_value "0",
  :id 1317,
  :examine "A two handed sword.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1317"},
 :recipes
 [{:materials [{:name "Adamantite bar", :quantity "3"}],
   :skills [{:name "Smithing", :level "84", :exp "187.5"}],
   :members_only false,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
