{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Adamant_heraldic_helm",
  :name "Adamant heraldic helm (Skull)",
  :value "3520",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=22185",
  :ge_value "0",
  :id 22185,
  :examine "The colours represent a skull.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=22185"},
 :recipes
 [{:materials [{:name "Adamant full helm", :quantity "1"}],
   :skills
   [{:name "Crafting", :level "38", :exp "37"}
    {:name "Construction", :level "16", :exp "0"}],
   :members_only true,
   :ticks "6",
   :tools nil,
   :facilities "Pluming stand"}]}
