{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Adamant_platebody",
  :name "Adamant platebody",
  :value "16640",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1123,20415",
  :ge_value "0",
  :id 112320415,
  :examine "Provides excellent protection.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1123,20415"},
 :recipes
 [{:materials [{:name "Adamantite bar", :quantity "5"}],
   :skills [{:name "Smithing", :level "88", :exp "312.5"}],
   :members_only false,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
