{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Amulet_of_bounty",
  :name "Amulet of bounty",
  :value "900",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=21160",
  :ge_value "0",
  :id 21160,
  :examine "Saves seeds when planting in allotments.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=21160"},
 :recipes
 [{:materials
   [{:name "Opal amulet", :quantity "1"}
    {:name "Cosmic rune", :quantity "1"}
    {:name "Water rune", :quantity "1"}],
   :skills [{:name "Magic", :level "7", :exp "17.5"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
