{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Anchovy_pizza",
  :name "Anchovy pizza",
  :value "60",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=2297",
  :ge_value "0",
  :id 2297,
  :examine "A pizza with anchovies.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=2297"},
 :recipes
 [{:materials
   [{:name "Plain pizza", :quantity "1"}
    {:name "Anchovies", :quantity "1"}],
   :skills [{:name "Cooking", :level "55", :exp "39.0"}],
   :members_only false,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
