{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Antipoison mix",
  :value "144",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 11435,
  :examine "One dose of fishy antipoison potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Antipoison(2)", :quantity "1"}
    {:name "Roe", :quantity "1"}],
   :skills [{:name "Herblore", :level "6", :exp "12"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
