{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Antidote+",
  :value "144",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 5949,
  :examine "1 dose of extra strong antipoison potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Coconut milk", :quantity "1"}
    {:name "Toadflax", :quantity "1"}
    {:name "Yew roots", :quantity "1"}],
   :skills [{:name "Herblore", :level "68", :exp "155"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
