{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Anti-poison supermix",
  :value "144",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 11475,
  :examine "One dose of fishy super antipoison potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Superantipoison(2)", :quantity "1"}
    {:name "Caviar", :quantity "1"}],
   :skills [{:name "Herblore", :level "51", :exp "35"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
