{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Avantoe_potion_%28unf%29",
  :name "Avantoe potion (unf)",
  :value "48",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=103",
  :ge_value "0",
  :id 103,
  :examine "I need another ingredient to finish this Avantoe potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=103"},
 :recipes
 [{:materials
   [{:name "Avantoe", :quantity "1"}
    {:name "Vial of water", :quantity "1"}],
   :skills [{:name "Herblore", :level "50", :exp "0"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
