{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Avernic_defender",
  :name "Avernic defender",
  :value "2500000",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=22322",
  :ge_value "0",
  :id 22322,
  :examine "A defensive weapon.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=22322"},
 :recipes
 [{:materials
   [{:name "Dragon defender", :quantity "1"}
    {:name "Avernic defender hilt", :quantity "1"}],
   :skills [],
   :members_only true,
   :ticks nil,
   :tools nil,
   :facilities nil}]}
