{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Barrows_teleport",
  :name "Barrows teleport (tablet)",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=19629",
  :ge_value "0",
  :id 19629,
  :examine "A teleport to the Barrows.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=19629"},
 :recipes
 [{:materials
   [{:name "Law rune", :quantity "2"}
    {:name "Soul rune", :quantity "2"}
    {:name "Blood rune", :quantity "1"}
    {:name "Dark essence block", :quantity "1"}],
   :skills [{:name "Magic", :level "83", :exp "90"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
