{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Blue_d%27hide_vambraces",
  :name "Blue d'hide vambraces",
  :value "3000",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=2487",
  :ge_value "0",
  :id 2487,
  :examine "Vambraces made from 100% real dragonhide.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=2487"},
 :recipes
 [{:materials
   [{:name "Blue dragon leather", :quantity "1"}
    {:name "Thread", :quantity "1"}],
   :skills [{:name "Crafting", :level "66", :exp "70"}],
   :members_only true,
   :ticks "3",
   :tools "Needle",
   :facilities nil}]}
