{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Blue_d%27hide_shield",
  :name "Blue d'hide shield",
  :value "7500",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=22278",
  :ge_value "0",
  :id 22278,
  :examine "A solid yew shield covered in blue dragon leather.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=22278"},
 :recipes
 [{:materials
   [{:name "Blue dragon leather", :quantity "2"}
    {:name "Yew shield", :quantity "1"}
    {:name "Mithril nails", :quantity "15"}],
   :skills [{:name "Crafting", :level "69", :exp "140"}],
   :members_only true,
   :ticks "5",
   :tools "Hammer",
   :facilities nil}]}
