{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Blurite_bolts_%28unf%29",
  :name "Blurite bolts (unf)",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=9376",
  :ge_value "0",
  :id 9376,
  :examine "Unfeathered blurite crossbow bolts.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=9376"},
 :recipes
 [{:materials [{:name "Blurite bar", :quantity "1"}],
   :skills [{:name "Smithing", :level "8", :exp "17.5"}],
   :members_only true,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
