{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Bronze_dagger",
  :name "Bronze dagger",
  :value "10",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1205",
  :ge_value "0",
  :id 1205,
  :examine "Short but pointy.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1205"},
 :recipes
 [{:materials [{:name "Bronze bar", :quantity "1"}],
   :skills [{:name "Smithing", :level "1", :exp "12.5"}],
   :members_only false,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
