{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Bronze_2h_sword",
  :name "Bronze 2h sword",
  :value "80",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1307",
  :ge_value "0",
  :id 1307,
  :examine "A two handed sword.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1307"},
 :recipes
 [{:materials [{:name "Bronze bar", :quantity "3"}],
   :skills [{:name "Smithing", :level "14", :exp "37.5"}],
   :members_only false,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
