{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Bronze hasta",
  :value "26",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 11367,
  :examine "A bronze-tipped, one-handed hasta.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Logs", :quantity "1"} {:name "Bronze bar", :quantity "1"}],
   :skills [{:name "Smithing", :level "5", :exp "25"}],
   :members_only true,
   :ticks "4",
   :tools "Hammer",
   :facilities "Barbarian anvil"}]}
