{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Bronze javelin",
  :value "4",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 825,
  :examine "A bronze tipped javelin.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Bronze javelin heads", :quantity "15"}
    {:name "Javelin shaft", :quantity "15"}],
   :skills [{:name "Fletching", :level "3", :exp "15"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
