{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Bronze_sq_shield",
  :name "Bronze sq shield",
  :value "48",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1173",
  :ge_value "0",
  :id 1173,
  :examine "A medium square shield.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1173"},
 :recipes
 [{:materials [{:name "Bronze bar", :quantity "2"}],
   :skills [{:name "Smithing", :level "8", :exp "25"}],
   :members_only false,
   :ticks "3",
   :tools "Hammer",
   :facilities "Anvil"}]}
