{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Brown_toy_horsey",
  :name "Brown toy horsey",
  :value "100",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=2520",
  :ge_value "0",
  :id 2520,
  :examine "A brown toy horse.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=2520"},
 :recipes
 [{:materials [{:name "Plank", :quantity "1"}],
   :skills [{:name "Crafting", :level "10", :exp "15"}],
   :members_only true,
   :ticks "3",
   :tools nil,
   :facilities "Crafting table 1"}]}
