{:meta
 {:tradable true,
  :wiki
  "https://oldschool.runescape.wiki/w/Bruise_blue_snelm_%28pointed%29",
  :name "Bruise blue snelm (pointed)",
  :value "300",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=3343",
  :ge_value "0",
  :id 3343,
  :examine "A moody blue pointed snail shell helmet.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=3343"},
 :recipes
 [{:materials [{:name "Blamish blue shell (pointed)", :quantity "1"}],
   :skills [{:name "Crafting", :level "15", :exp "32.5"}],
   :members_only true,
   :ticks "2",
   :tools "Chisel",
   :facilities nil}]}
