{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Bucket_of_water",
  :name "Bucket of water",
  :value "6",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1929",
  :ge_value "0",
  :id 1929,
  :examine "It's a bucket of water.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1929"},
 :recipes
 [{:materials [{:name "Bucket", :quantity "1"}],
   :skills [],
   :members_only false,
   :ticks "0",
   :tools nil,
   :facilities "Water"}]}
