{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Cake",
  :value "50",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 1891,
  :examine "A plain sponge cake.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials [{:name "Uncooked cake", :quantity "1"}],
   :skills [{:name "Cooking", :level "40", :exp "180"}],
   :members_only false,
   :ticks "1",
   :tools nil,
   :facilities "Cooking range"}]}
