{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Cave_eel",
  :name "Cave eel",
  :value "15",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=5003",
  :ge_value "0",
  :id 5003,
  :examine "It's a bit slimy.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=5003"},
 :recipes
 [{:materials [{:name "Raw cave eel", :quantity "1"}],
   :skills [{:name "Cooking", :level "38", :exp "115"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities "Cooking range"}]}
