{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Chocolate cake",
  :value "70",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 1897,
  :examine "This looks very tasty.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Cake", :quantity "1"}
    {:name "Chocolate bar", :quantity "1"}],
   :skills [{:name "Cooking", :level "50", :exp "30"}],
   :members_only false,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
