{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Combat_mix",
  :name "Combat mix",
  :value "52",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=11447",
  :ge_value "0",
  :id 11447,
  :examine "One dose of fishy combat potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=11447"},
 :recipes
 [{:materials
   [{:name "Combat potion(2)", :quantity "1"}
    {:name "Caviar", :quantity "1"}],
   :skills [{:name "Herblore", :level "40", :exp "28"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
