{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Combat potion",
  :value "52",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 9745,
  :examine "1 dose of combat potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Harralander potion (unf)", :quantity "1"}
    {:name "Goat horn dust", :quantity "1"}],
   :skills [{:name "Herblore", :level "36", :exp "84"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
