{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Conductor",
  :name "Conductor",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=4201",
  :ge_value "0",
  :id 4201,
  :examine "A silver lightning conductor.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=4201"},
 :recipes
 [{:materials [{:name "Silver bar", :quantity "1"}],
   :skills [{:name "Smithing", :level "20", :exp "50"}],
   :members_only true,
   :ticks nil,
   :tools "Conductor mould",
   :facilities "Furnace"}]}
