{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Cooked_chompy",
  :name "Cooked chompy",
  :value "130",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=2878",
  :ge_value "0",
  :id 2878,
  :examine "It might look delicious to an ogre.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=2878"},
 :recipes
 [{:materials [{:name "Raw chompy", :quantity "1"}],
   :skills [{:name "Cooking", :level "30", :exp "100"}],
   :members_only true,
   :ticks "3",
   :tools "Iron spit",
   :facilities "Fire"}
  {:materials [{:name "Skewered chompy", :quantity "1"}],
   :skills [{:name "Cooking", :level "30", :exp "100"}],
   :members_only true,
   :ticks "3",
   :tools nil,
   :facilities "Fire"}]}
