{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Cooked_karambwan",
  :name "Cooked karambwan",
  :value "250",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=3144",
  :ge_value "0",
  :id 3144,
  :examine "Cooked octopus. It looks very nutritious.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=3144"},
 :recipes
 [{:materials [{:name "Raw karambwan", :quantity "1"}],
   :skills [{:name "Cooking", :level "30", :exp "190"}],
   :members_only true,
   :ticks "4",
   :tools nil,
   :facilities "Cooking range"}]}
