{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Divine bastion potion",
  :value "180",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 24644,
  :examine "1 dose of divine bastion potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Bastion potion(4)", :quantity "1"}
    {:name "Crystal dust", :quantity "4"}],
   :skills [{:name "Herblore", :level "86", :exp "2"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
