{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Divine_ranging_potion",
  :name "Divine ranging potion",
  :value "40",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=23742",
  :ge_value "0",
  :id 23742,
  :examine "1 dose of divine ranging potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=23742"},
 :recipes
 [{:materials
   [{:name "Ranging potion(4)", :quantity "1"}
    {:name "Crystal dust", :quantity "4"}],
   :skills [{:name "Herblore", :level "74", :exp "2"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
