{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Dragon_scale_dust",
  :name "Dragon scale dust",
  :value "52",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=241",
  :ge_value "0",
  :id 241,
  :examine "Finely ground scale of Dragon.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=241"},
 :recipes
 [{:materials [{:name "Blue dragon scale", :quantity "1"}],
   :skills [],
   :members_only true,
   :ticks "0",
   :tools "Pestle and mortar",
   :facilities nil}]}
