{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Dragon_arrow",
  :name "Dragon arrow",
  :value "800",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=11212,20389",
  :ge_value "0",
  :id 1121220389,
  :examine "An arrow made using a dragon's talon.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=11212,20389"},
 :recipes
 [{:materials
   [{:name "Headless arrow", :quantity "15"}
    {:name "Dragon arrowtips", :quantity "15"}],
   :skills [{:name "Fletching", :level "90", :exp "225"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
