{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Dragonfire_ward",
  :name "Dragonfire ward",
  :value "2000000",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 22003,
  :examine "A light shield with a haunting, skeletal visage.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Skeletal visage", :quantity "1"}
    {:name "Anti-dragon shield", :quantity "1"}],
   :skills [{:name "Smithing", :level "90", :exp "2,000"}],
   :members_only true,
   :ticks nil,
   :tools "Hammer",
   :facilities nil}]}
