{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Dragon_crossbow_%28u%29",
  :name "Dragon crossbow (u)",
  :value "30000",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=21921",
  :ge_value "0",
  :id 21921,
  :examine "An unstrung dragon crossbow.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=21921"},
 :recipes
 [{:materials
   [{:name "Magic stock", :quantity "1"}
    {:name "Dragon limbs", :quantity "1"}],
   :skills [{:name "Fletching", :level "78", :exp "135"}],
   :members_only true,
   :ticks "2",
   :tools "Hammer",
   :facilities nil}]}
