{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Dragonstone_amulet",
  :name "Dragonstone amulet",
  :value "17625",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1702",
  :ge_value "0",
  :id 1702,
  :examine "I wonder if I can get this enchanted.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1702"},
 :recipes
 [{:materials
   [{:name "Dragonstone amulet (u)", :quantity "1"}
    {:name "Ball of wool", :quantity "1"}],
   :skills [{:name "Crafting", :level "1", :exp "4"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
