{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Dragon_crossbow",
  :name "Dragon crossbow",
  :value "54000",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=21902",
  :ge_value "0",
  :id 21902,
  :examine "A dragon crossbow.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=21902"},
 :recipes
 [{:materials
   [{:name "Dragon crossbow (u)", :quantity "1"}
    {:name "Crossbow string", :quantity "1"}],
   :skills [{:name "Fletching", :level "78", :exp "70"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
