{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Elder_%28-%29",
  :name "Elder (-)",
  :value "2",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=20913",
  :ge_value "0",
  :id 20913,
  :examine
  "The potion blends the fury and bravery of Xeric's elder warriors. It was mixed particularly badly.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=20913"},
 :recipes
 [{:materials
   [{:name "Water-filled gourd vial", :quantity "1"}
    {:name "Golpar", :quantity "1"}
    {:name "Stinkhorn mushroom", :quantity "1"}],
   :skills [{:name "Herblore", :level "47", :exp "6.5"}],
   :members_only true,
   :ticks nil,
   :tools nil,
   :facilities nil}]}
