{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Emerald",
  :name "Emerald",
  :value "500",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1605",
  :ge_value "0",
  :id 1605,
  :examine "This looks valuable.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1605"},
 :recipes
 [{:materials [{:name "Uncut emerald", :quantity "1"}],
   :skills [{:name "Crafting", :level "27", :exp "67.5"}],
   :members_only true,
   :ticks "2",
   :tools "Chisel",
   :facilities nil}]}
