{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Emerald_amulet",
  :name "Emerald amulet",
  :value "1275",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1696",
  :ge_value "0",
  :id 1696,
  :examine "I wonder if I can get this enchanted.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1696"},
 :recipes
 [{:materials
   [{:name "Emerald amulet (u)", :quantity "1"}
    {:name "Ball of wool", :quantity "1"}],
   :skills [{:name "Crafting", :level "1", :exp "4"}],
   :members_only false,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
