{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Enchant_ruby_or_topaz",
  :name "Enchant ruby or topaz",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=8018",
  :ge_value "0",
  :id 8018,
  :examine "A tablet containing a magic spell.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=8018"},
 :recipes
 [{:materials
   [{:name "Cosmic rune", :quantity "1"}
    {:name "Fire rune", :quantity "5"}
    {:name "Soft clay", :quantity "1"}],
   :skills [{:name "Magic", :level "49", :exp "59"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities "Teak demon lectern"}]}
