{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Extended antifire",
  :value "110",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 11957,
  :examine "1 dose of extended anti-firebreath potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Antifire potion(4)", :quantity "1"}
    {:name "Lava scale shard", :quantity "4"}],
   :skills [{:name "Herblore", :level "84", :exp "110"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
