{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Fire_tiara",
  :name "Fire tiara",
  :value "100",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=5537",
  :ge_value "0",
  :id 5537,
  :examine "A tiara infused with the properties of fire.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=5537"},
 :recipes
 [{:materials
   [{:name "Tiara", :quantity "1"}
    {:name "Fire talisman", :quantity "1"}],
   :skills [{:name "Runecraft", :level "0", :exp "35"}],
   :members_only false,
   :ticks "0",
   :tools nil,
   :facilities "Fire altar"}]}
