{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Fishbowl",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 6667,
  :examine "An empty fishbowl.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials [{:name "Molten glass", :quantity "1"}],
   :skills [{:name "Crafting", :level "42", :exp "42.5"}],
   :members_only true,
   :ticks "3",
   :tools "Glassblowing pipe",
   :facilities nil}]}
