{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Godsword_blade",
  :name "Godsword blade",
  :value "750000",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=11798",
  :ge_value "0",
  :id 11798,
  :examine "The blade for the ultimate weapon.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=11798"},
 :recipes
 [{:materials
   [{:name "Godsword shards 1 & 2", :quantity "1"}
    {:name "Godsword shard 3", :quantity "1"}],
   :skills [{:name "Smithing", :level "80", :exp "100"}],
   :members_only true,
   :ticks "7",
   :tools "Hammer",
   :facilities "Anvil"}
  {:materials
   [{:name "Godsword shards 2 & 3", :quantity "1"}
    {:name "Godsword shard 1", :quantity "1"}],
   :skills [{:name "Smithing", :level "80", :exp "100"}],
   :members_only true,
   :ticks "7",
   :tools "Hammer",
   :facilities "Anvil"}
  {:materials
   [{:name "Godsword shards 1 & 3", :quantity "1"}
    {:name "Godsword shard 2", :quantity "1"}],
   :skills [{:name "Smithing", :level "80", :exp "100"}],
   :members_only true,
   :ticks "7",
   :tools "Hammer",
   :facilities "Anvil"}]}
