{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Gold_bar",
  :name "Gold bar",
  :value "300",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=2357",
  :ge_value "0",
  :id 2357,
  :examine "It's a bar of gold.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=2357"},
 :recipes
 [{:materials [{:name "Gold ore", :quantity "1"}],
   :skills [{:name "Smithing", :level "40", :exp "22.5"}],
   :members_only false,
   :ticks "4",
   :tools nil,
   :facilities "Furnace"}]}
