{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Gold_ring",
  :name "Gold ring",
  :value "350",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1635",
  :ge_value "0",
  :id 1635,
  :examine "A valuable ring.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1635"},
 :recipes
 [{:materials [{:name "Gold bar", :quantity "1"}],
   :skills [{:name "Crafting", :level "5", :exp "15"}],
   :members_only false,
   :ticks "3",
   :tools "Ring mould",
   :facilities "Furnace"}]}
