{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Granite_maul",
  :name "Granite maul",
  :value "50000",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 415320557,
  :examine "Simplicity is the best weapon.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Granite maul", :quantity "1"}
    {:name "Ornate maul handle", :quantity "1"}],
   :skills [],
   :members_only true,
   :ticks nil,
   :tools nil,
   :facilities nil}
  {:materials
   [{:name "Granite maul (or)", :quantity "1"}
    {:name "Ornate maul handle", :quantity "1"}],
   :skills [],
   :members_only true,
   :ticks nil,
   :tools nil,
   :facilities nil}]}
