{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Green_d%27hide_body",
  :name "Green d'hide body",
  :value "7800",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1135",
  :ge_value "0",
  :id 1135,
  :examine "Made from 100% real dragonhide.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1135"},
 :recipes
 [{:materials
   [{:name "Green dragon leather", :quantity "3"}
    {:name "Thread", :quantity "1"}],
   :skills [{:name "Crafting", :level "63", :exp "186"}],
   :members_only true,
   :ticks "3",
   :tools "Needle",
   :facilities nil}]}
