{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Ground_kelp",
  :name "Ground kelp",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=7517",
  :ge_value "0",
  :id 7517,
  :examine "Kelp flakes. Smells of the sea.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=7517"},
 :recipes
 [{:materials [{:name "Kelp", :quantity "1"}],
   :skills [],
   :members_only true,
   :ticks "0",
   :tools "Pestle and mortar",
   :facilities nil}]}
