{:meta
 {:tradable false,
  :wiki
  "https://oldschool.runescape.wiki/w/Half_made_bowl_%28chocolate_bomb%29",
  :name "Half made bowl (chocolate bomb)",
  :value "2",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=9563",
  :ge_value "0",
  :id 9563,
  :examine
  "This unfinished choc bomb needs baking, two pots of cream and choc dust.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=9563"},
 :recipes
 [{:materials
   [{:name "Half baked bowl", :quantity "1"}
    {:name "Chocolate bar", :quantity "4"}
    {:name "Equa leaves", :quantity "1"}],
   :skills [{:name "Cooking", :level "42", :exp "0"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
