{:meta
 {:tradable true,
  :wiki
  "https://oldschool.runescape.wiki/w/Half_made_crunchy_%28spicy%29",
  :name "Half made crunchy (spicy)",
  :value "2",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=9579",
  :ge_value "0",
  :id 9579,
  :examine
  "This spicy crunchy needs baking and garnishing with spice.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=9579"},
 :recipes
 [{:materials
   [{:name "Half baked crunchy", :quantity "1"}
    {:name "Equa leaves", :quantity "2"}],
   :skills [{:name "Cooking", :level "12", :exp "30"}],
   :members_only true,
   :ticks "1",
   :tools "Gnome spice",
   :facilities nil}]}
