{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Half_baked_batta",
  :name "Half baked batta",
  :value "2",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=2249",
  :ge_value "0",
  :id 2249,
  :examine "This gnome batta is in the early stages of preparation.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=2249"},
 :recipes
 [{:materials [{:name "Raw batta", :quantity "1"}],
   :skills [{:name "Cooking", :level "25", :exp "30"}],
   :members_only true,
   :ticks "4",
   :tools nil,
   :facilities "Cooking range"}]}
