{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Harralander",
  :name "Harralander",
  :value "20",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=255",
  :ge_value "0",
  :id 255,
  :examine "A useful herb.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=255"},
 :recipes
 [{:materials [{:name "Grimy harralander", :quantity "1"}],
   :skills [{:name "Herblore", :level "20", :exp "6.3"}],
   :members_only true,
   :ticks "0",
   :tools nil,
   :facilities nil}]}
