{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Hunter_potion",
  :name "Hunter potion",
  :value "6",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=10004",
  :ge_value "0",
  :id 10004,
  :examine "1 dose of Hunter potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=10004"},
 :recipes
 [{:materials
   [{:name "Avantoe potion (unf)", :quantity "1"}
    {:name "Kebbit teeth dust", :quantity "1"}],
   :skills [{:name "Herblore", :level "53", :exp "120"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
