{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Irit_leaf",
  :name "Irit leaf",
  :value "40",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=259",
  :ge_value "0",
  :id 259,
  :examine "A useful herb.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=259"},
 :recipes
 [{:materials [{:name "Grimy irit leaf", :quantity "1"}],
   :skills [{:name "Herblore", :level "40", :exp "8.8"}],
   :members_only true,
   :ticks "0",
   :tools nil,
   :facilities nil}]}
