{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Iron_hasta",
  :name "Iron hasta",
  :value "91",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=11369",
  :ge_value "0",
  :id 11369,
  :examine "An iron-tipped, one-handed hasta.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=11369"},
 :recipes
 [{:materials
   [{:name "Oak logs", :quantity "1"}
    {:name "Iron bar", :quantity "1"}],
   :skills [{:name "Smithing", :level "20", :exp "50"}],
   :members_only true,
   :ticks "4",
   :tools "Hammer",
   :facilities "Barbarian anvil"}]}
