{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Iron_longsword",
  :name "Iron longsword",
  :value "140",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1293",
  :ge_value "0",
  :id 1293,
  :examine "A razor sharp longsword.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1293"},
 :recipes
 [{:materials [{:name "Iron bar", :quantity "2"}],
   :skills [{:name "Smithing", :level "21", :exp "50"}],
   :members_only false,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
