{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Iron_spear",
  :name "Iron spear",
  :value "91",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1239",
  :ge_value "0",
  :id 1239,
  :examine "An iron tipped spear.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1239"},
 :recipes
 [{:materials
   [{:name "Iron bar", :quantity "1"}
    {:name "Oak logs", :quantity "1"}],
   :skills [{:name "Smithing", :level "20", :exp "50"}],
   :members_only true,
   :ticks "4",
   :tools "Hammer",
   :facilities "Barbarian anvil"}]}
