{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Iron_kiteshield",
  :name "Iron kiteshield",
  :value "238",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1191",
  :ge_value "0",
  :id 1191,
  :examine "A large metal shield.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1191"},
 :recipes
 [{:materials [{:name "Iron bar", :quantity "3"}],
   :skills [{:name "Smithing", :level "27", :exp "75"}],
   :members_only false,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
