{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Key_print",
  :name "Key print",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=2423",
  :ge_value "0",
  :id 2423,
  :examine "An imprint of a key in a lump of clay.",
  :members_only false,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=2423"},
 :recipes
 [{:materials [{:name "Soft clay", :quantity "1"}],
   :skills [],
   :members_only false,
   :ticks "1",
   :tools nil,
   :facilities "Lady Keli"}]}
