{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Kwuarm_potion_%28unf%29",
  :name "Kwuarm potion (unf)",
  :value "54",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=105",
  :ge_value "0",
  :id 105,
  :examine "I need another ingredient to finish this Kwuarm potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=105"},
 :recipes
 [{:materials
   [{:name "Kwuarm", :quantity "1"}
    {:name "Vial of water", :quantity "1"}],
   :skills [{:name "Herblore", :level "55", :exp "0"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
