{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Lean_snail_meat",
  :name "Lean snail meat",
  :value "20",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=3371",
  :ge_value "0",
  :id 3371,
  :examine "A succulently slimy slice of sumptuous snail.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=3371"},
 :recipes
 [{:materials [{:name "Lean snail", :quantity "1"}],
   :skills [{:name "Cooking", :level "17", :exp "80"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities "Cooking range"}]}
