{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Magic_essence_mix",
  :name "Magic essence mix",
  :value "130",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=11491",
  :ge_value "0",
  :id 11491,
  :examine "One dose of fishy Magic essence.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=11491"},
 :recipes
 [{:materials
   [{:name "Magic essence(2)", :quantity "1"}
    {:name "Caviar", :quantity "1"}],
   :skills [{:name "Herblore", :level "61", :exp "43"}],
   :members_only true,
   :ticks nil,
   :tools nil,
   :facilities nil}]}
