{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Magic_mix",
  :name "Magic mix",
  :value "150",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=11515",
  :ge_value "0",
  :id 11515,
  :examine "One dose of fishy Magic potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=11515"},
 :recipes
 [{:materials
   [{:name "Magic potion(2)", :quantity "1"}
    {:name "Caviar", :quantity "1"}],
   :skills [{:name "Herblore", :level "83", :exp "57"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
