{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Magic_sapling",
  :name "Magic sapling",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=5374",
  :ge_value "0",
  :id 5374,
  :examine "This sapling is ready to be replanted in a tree patch.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=5374"},
 :recipes
 [{:materials [{:name "Magic seedling (w)", :quantity "1"}],
   :skills [{:name "Farming", :level "75", :exp "0"}],
   :members_only true,
   :ticks "Varies",
   :tools nil,
   :facilities nil}]}
