{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Magic_longbow_%28u%29",
  :name "Magic longbow (u)",
  :value "1280",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=70",
  :ge_value "0",
  :id 70,
  :examine "An unstrung magic longbow; I need a bowstring for this.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=70"},
 :recipes
 [{:materials [{:name "Magic logs", :quantity "1"}],
   :skills [{:name "Fletching", :level "85", :exp "91.5"}],
   :members_only true,
   :ticks "3",
   :tools "Knife",
   :facilities nil}]}
