{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Malediction_ward_%28or%29",
  :name "Malediction ward (or)",
  :value "45000",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=12806",
  :ge_value "0",
  :id 12806,
  :examine
  "An ancient, evil and beautiful shield forged by Volcanic heat.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=12806"},
 :recipes
 [{:materials
   [{:name "Malediction ward", :quantity "1"}
    {:name "Ward upgrade kit", :quantity "1"}],
   :skills [],
   :members_only true,
   :ticks nil,
   :tools nil,
   :facilities nil}]}
