{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Maple_longbow_%28u%29",
  :name "Maple longbow (u)",
  :value "320",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=62",
  :ge_value "0",
  :id 62,
  :examine "An unstrung maple longbow; I need a bowstring for this.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=62"},
 :recipes
 [{:materials [{:name "Maple logs", :quantity "1"}],
   :skills [{:name "Fletching", :level "55", :exp "58.3"}],
   :members_only true,
   :ticks "3",
   :tools "Knife",
   :facilities nil}]}
