{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Maple_shortbow_%28u%29",
  :name "Maple shortbow (u)",
  :value "200",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=64",
  :ge_value "0",
  :id 64,
  :examine "An unstrung maple shortbow; I need a bowstring for this.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=64"},
 :recipes
 [{:materials [{:name "Maple logs", :quantity "1"}],
   :skills [{:name "Fletching", :level "50", :exp "50"}],
   :members_only true,
   :ticks "3",
   :tools "Knife",
   :facilities nil}]}
