{:meta
 {:tradable true,
  :wiki
  "https://oldschool.runescape.wiki/w/Marrentill_potion_%28unf%29",
  :name "Marrentill potion (unf)",
  :value "5",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=93",
  :ge_value "0",
  :id 93,
  :examine
  "I need another ingredient to finish this Marrentill potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=93"},
 :recipes
 [{:materials
   [{:name "Marrentill", :quantity "1"}
    {:name "Vial of water", :quantity "1"}],
   :skills [{:name "Herblore", :level "5", :exp "0"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
