{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Mith_grapple_%28unf%29",
  :name "Mith grapple (unf)",
  :value "48",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=9418",
  :ge_value "0",
  :id 9418,
  :examine "A mithril grapple tipped bolt - needs a rope.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=9418"},
 :recipes
 [{:materials
   [{:name "Mith grapple tip", :quantity "1"}
    {:name "Mithril bolts", :quantity "1"}],
   :skills [{:name "Fletching", :level "59", :exp "11"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
