{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Mithril_scimitar",
  :name "Mithril scimitar",
  :value "1040",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1329",
  :ge_value "0",
  :id 1329,
  :examine "A vicious, curved sword.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1329"},
 :recipes
 [{:materials [{:name "Mithril bar", :quantity "2"}],
   :skills [{:name "Smithing", :level "55", :exp "100"}],
   :members_only false,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
