{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Mithril dart",
  :value "25",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 809,
  :examine "A deadly throwing dart with a mithril tip.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Mithril dart tip", :quantity "10"}
    {:name "Feather", :quantity "10"}],
   :skills [{:name "Fletching", :level "52", :exp "112"}],
   :members_only true,
   :ticks "0",
   :tools nil,
   :facilities nil}]}
