{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Mithril_bolts_%28unf%29",
  :name "Mithril bolts (unf)",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=9379",
  :ge_value "0",
  :id 9379,
  :examine "Unfeathered mithril crossbow bolts.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=9379"},
 :recipes
 [{:materials [{:name "Mithril bar", :quantity "1"}],
   :skills [{:name "Smithing", :level "53", :exp "50"}],
   :members_only true,
   :ticks "3",
   :tools "Hammer",
   :facilities "Anvil"}]}
