{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Necklace of passage",
  :value "1275",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 21155,
  :examine "This necklace can really take you places.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Jade necklace", :quantity "1"}
    {:name "Cosmic rune", :quantity "1"}
    {:name "Air rune", :quantity "3"}],
   :skills [{:name "Magic", :level "27", :exp "37"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
