{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Oak_shortbow_%28u%29",
  :name "Oak shortbow (u)",
  :value "50",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=54",
  :ge_value "0",
  :id 54,
  :examine "An unstrung oak shortbow; I need a bowstring for this.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=54"},
 :recipes
 [{:materials [{:name "Oak logs", :quantity "1"}],
   :skills [{:name "Fletching", :level "20", :exp "16.5"}],
   :members_only true,
   :ticks "3",
   :tools "Knife",
   :facilities nil}]}
