{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Ogre_arrow",
  :name "Ogre arrow",
  :value "25",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=2866",
  :ge_value "0",
  :id 2866,
  :examine "A large ogre arrow with a bone tip.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=2866"},
 :recipes
 [{:materials
   [{:name "Flighted ogre arrow", :quantity "6"}
    {:name "Wolfbone arrowtips", :quantity "6"}],
   :skills [{:name "Fletching", :level "5", :exp "6.0"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
