{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Onyx_dragon_bolts_%28e%29",
  :name "Onyx dragon bolts (e)",
  :value "15800",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=21950",
  :ge_value "0",
  :id 21950,
  :examine "Enchanted Dragon crossbow bolts, tipped with onyx.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=21950"},
 :recipes
 [{:materials
   [{:name "Onyx dragon bolts", :quantity "10"}
    {:name "Fire rune", :quantity "20"}
    {:name "Death rune", :quantity "1"}
    {:name "Cosmic rune", :quantity "1"}],
   :skills [{:name "Magic", :level "87", :exp "97.0"}],
   :members_only true,
   :ticks "3",
   :tools nil,
   :facilities nil}]}
