{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Onyx_dragon_bolts",
  :name "Onyx dragon bolts",
  :value "13900",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=21973",
  :ge_value "0",
  :id 21973,
  :examine "Dragon crossbow bolts, tipped with onyx.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=21973"},
 :recipes
 [{:materials
   [{:name "Dragon bolts", :quantity "10"}
    {:name "Onyx bolt tips", :quantity "10"}],
   :skills [{:name "Fletching", :level "84", :exp "94"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
