{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Opal_dragon_bolts",
  :name "Opal dragon bolts",
  :value "550",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=21955",
  :ge_value "0",
  :id 21955,
  :examine "Dragon crossbow bolts, tipped with opal.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=21955"},
 :recipes
 [{:materials
   [{:name "Dragon bolts", :quantity "10"}
    {:name "Opal bolt tips", :quantity "10"}],
   :skills [{:name "Fletching", :level "84", :exp "16"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
