{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Papaya_sapling",
  :name "Papaya sapling",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=5501",
  :ge_value "0",
  :id 5501,
  :examine
  "This sapling is ready to be replanted in a fruit tree patch.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=5501"},
 :recipes
 [{:materials [{:name "Papaya seedling (w)", :quantity "1"}],
   :skills [{:name "Farming", :level "57", :exp "0"}],
   :members_only true,
   :ticks "Varies",
   :tools nil,
   :facilities nil}]}
