{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Pastry_dough",
  :name "Pastry dough",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1953",
  :ge_value "0",
  :id 1953,
  :examine "Potentially pastry.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1953"},
 :recipes
 [{:materials
   [{:name "Pot of flour", :quantity "1"}
    {:name "Bucket of water", :quantity "1"}],
   :skills [{:name "Cooking", :level "0", :exp "0"}],
   :members_only false,
   :ticks "1",
   :tools nil,
   :facilities nil}
  {:materials
   [{:name "Pot of flour", :quantity "1"}
    {:name "Bowl of water", :quantity "1"}],
   :skills [{:name "Cooking", :level "0", :exp "0"}],
   :members_only false,
   :ticks "1",
   :tools nil,
   :facilities nil}
  {:materials
   [{:name "Pot of flour", :quantity "1"}
    {:name "Jug of water", :quantity "1"}],
   :skills [{:name "Cooking", :level "0", :exp "0"}],
   :members_only false,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
