{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Pike",
  :name "Pike",
  :value "20",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=351",
  :ge_value "0",
  :id 351,
  :examine "Some nicely cooked pike.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=351"},
 :recipes
 [{:materials [{:name "Raw pike", :quantity "1"}],
   :skills [{:name "Cooking", :level "25", :exp "80"}],
   :members_only false,
   :ticks "1",
   :tools nil,
   :facilities "Cooking range"}]}
