{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Pot_lid",
  :name "Pot lid",
  :value "15",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=4440",
  :ge_value "0",
  :id 4440,
  :examine "This should fit on a normal-sized pot.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=4440"},
 :recipes
 [{:materials [{:name "Unfired pot lid", :quantity "1"}],
   :skills [{:name "Crafting", :level "25", :exp "20"}],
   :members_only true,
   :ticks "8",
   :tools nil,
   :facilities "Pottery oven"}]}
