{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Potatoes",
  :name "Potatoes",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=5420",
  :ge_value "0",
  :id 5420,
  :examine "There is 1 potato in this sack.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=5420"},
 :recipes
 [{:materials
   [{:name "Empty sack", :quantity "1"}
    {:name "Potato", :quantity "10"}],
   :skills [],
   :members_only true,
   :ticks "0",
   :tools nil,
   :facilities nil}]}
