{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Prototype_dart_tip",
  :name "Prototype dart tip",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1853",
  :ge_value "0",
  :id 1853,
  :examine "A prototype dart tip - it looks deadly.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1853"},
 :recipes
 [{:materials [{:name "Bronze bar", :quantity "1"}],
   :skills [{:name "Smithing", :level "20", :exp "0"}],
   :members_only true,
   :ticks nil,
   :tools "Hammer, Technical plans",
   :facilities "An experimental anvil"}]}
