{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Ranarr_potion_%28unf%29",
  :name "Ranarr potion (unf)",
  :value "25",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=99",
  :ge_value "0",
  :id 99,
  :examine "I need another ingredient to finish this Ranarr potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=99"},
 :recipes
 [{:materials
   [{:name "Ranarr weed", :quantity "1"}
    {:name "Vial of water", :quantity "1"}],
   :skills [{:name "Herblore", :level "30", :exp "0"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
