{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Ranging_mix",
  :name "Ranging mix",
  :value "144",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=11511",
  :ge_value "0",
  :id 11511,
  :examine "One dose of fishy ranging potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=11511"},
 :recipes
 [{:materials
   [{:name "Ranging potion(2)", :quantity "1"}
    {:name "Caviar", :quantity "1"}],
   :skills [{:name "Herblore", :level "80", :exp "54"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
