{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Relicym%27s_mix",
  :name "Relicym's mix",
  :value "75",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=11439",
  :ge_value "0",
  :id 11439,
  :examine "One dose of fishy Relicym's balm.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=11439"},
 :recipes
 [{:materials
   [{:name "Relicym's balm(2)", :quantity "1"}
    {:name "Roe", :quantity "1"}],
   :skills [{:name "Herblore", :level "9", :exp "14"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
