{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Ring_of_suffering",
  :name "Ring of suffering",
  :value "201000",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=19550",
  :ge_value "0",
  :id 19550,
  :examine
  "A deep sense of suffering burns within this powerful ring.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=19550"},
 :recipes
 [{:materials
   [{:name "Zenyte ring", :quantity "1"}
    {:name "Cosmic rune", :quantity "1"}
    {:name "Soul rune", :quantity "20"}
    {:name "Blood rune", :quantity "20"}],
   :skills [{:name "Magic", :level "93", :exp "110"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
