{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Roast_beast_meat",
  :name "Roast beast meat",
  :value "25",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=9988",
  :ge_value "0",
  :id 9988,
  :examine "A delicious looking slab of roast beast.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=9988"},
 :recipes
 [{:materials [{:name "Raw beast meat", :quantity "1"}],
   :skills [{:name "Cooking", :level "21", :exp "62"}],
   :members_only true,
   :ticks "3",
   :tools "Iron spit",
   :facilities "Fire"}
  {:materials [{:name "Skewered beast", :quantity "1"}],
   :skills [{:name "Cooking", :level "21", :exp "62"}],
   :members_only true,
   :ticks "3",
   :tools nil,
   :facilities "Fire"}]}
