{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Rune_platebody",
  :name "Rune platebody",
  :value "65000",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1127,20421",
  :ge_value "0",
  :id 112720421,
  :examine "Provides excellent protection.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1127,20421"},
 :recipes
 [{:materials [{:name "Runite bar", :quantity "5"}],
   :skills [{:name "Smithing", :level "99", :exp "375"}],
   :members_only false,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
