{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Rune_dust",
  :name "Rune dust",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=6467",
  :ge_value "0",
  :id 6467,
  :examine "Crushed rune essence.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=6467"},
 :recipes
 [{:materials [{:name "Rune shards", :quantity "1"}],
   :skills [],
   :members_only true,
   :ticks "0",
   :tools "Pestle and mortar",
   :facilities nil}]}
