{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Rune_sq_shield",
  :name "Rune sq shield",
  :value "38400",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1185",
  :ge_value "0",
  :id 1185,
  :examine "A medium square shield.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1185"},
 :recipes
 [{:materials [{:name "Runite bar", :quantity "2"}],
   :skills [{:name "Smithing", :level "93", :exp "150"}],
   :members_only false,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
