{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Rune_longsword",
  :name "Rune longsword",
  :value "32000",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1303",
  :ge_value "0",
  :id 1303,
  :examine "A razor sharp longsword.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1303"},
 :recipes
 [{:materials [{:name "Runite bar", :quantity "2"}],
   :skills [{:name "Smithing", :level "91", :exp "150"}],
   :members_only false,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
