{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Rune_knife",
  :name "Rune knife",
  :value "167",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=868",
  :ge_value "0",
  :id 868,
  :examine "A finely balanced throwing knife.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=868"},
 :recipes
 [{:materials [{:name "Runite bar", :quantity "1"}],
   :skills [{:name "Smithing", :level "92", :exp "75"}],
   :members_only true,
   :ticks "4",
   :tools "Hammer",
   :facilities "Anvil"}]}
