{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Rune_sword",
  :name "Rune sword",
  :value "20800",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1289",
  :ge_value "0",
  :id 1289,
  :examine "A razor sharp sword.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1289"},
 :recipes
 [{:materials [{:name "Runite bar", :quantity "1"}],
   :skills [{:name "Smithing", :level "89", :exp "75"}],
   :members_only false,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
