{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Runite_bolts",
  :name "Runite bolts",
  :value "300",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=9144",
  :ge_value "0",
  :id 9144,
  :examine "Runite crossbow bolts.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=9144"},
 :recipes
 [{:materials
   [{:name "Runite bolts (unf)", :quantity "10"}
    {:name "Feather", :quantity "10"}],
   :skills [{:name "Fletching", :level "69", :exp "100"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
