{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Sapphire",
  :name "Sapphire",
  :value "250",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1607",
  :ge_value "0",
  :id 1607,
  :examine "This looks valuable.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1607"},
 :recipes
 [{:materials [{:name "Uncut sapphire", :quantity "1"}],
   :skills [{:name "Crafting", :level "20", :exp "50"}],
   :members_only false,
   :ticks "2",
   :tools "Chisel",
   :facilities nil}]}
