{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Sapphire_lantern",
  :name "Sapphire lantern",
  :value "600",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=4700",
  :ge_value "0",
  :id 4700,
  :examine "You need to add lamp oil before you can use it.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=4700"},
 :recipes
 [{:materials
   [{:name "Bullseye lantern (unf)", :quantity "1"}
    {:name "Sapphire", :quantity "1"}],
   :skills [],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}
  {:materials
   [{:name "Bullseye lantern", :quantity "1"}
    {:name "Sapphire", :quantity "1"}],
   :skills [],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
