{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Sapphire_bolts_%28e%29",
  :name "Sapphire bolts (e)",
  :value "40",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=9240",
  :ge_value "0",
  :id 9240,
  :examine "Enchanted Sapphire tipped Mithril Crossbow Bolts.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=9240"},
 :recipes
 [{:materials
   [{:name "Sapphire bolts", :quantity "10"}
    {:name "Water rune", :quantity "1"}
    {:name "Mind rune", :quantity "1"}
    {:name "Cosmic rune", :quantity "1"}],
   :skills [{:name "Magic", :level "7", :exp "17.5"}],
   :members_only true,
   :ticks "3",
   :tools nil,
   :facilities nil}]}
