{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Saradomin_brew",
  :name "Saradomin brew",
  :value "125",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=6691",
  :ge_value "0",
  :id 6691,
  :examine "1 dose of Saradomin brew.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=6691"},
 :recipes
 [{:materials
   [{:name "Toadflax potion (unf)", :quantity "1"}
    {:name "Crushed nest", :quantity "1"}],
   :skills [{:name "Herblore", :level "81", :exp "180"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
