{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Sea_turtle",
  :name "Sea turtle",
  :value "200",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=397",
  :ge_value "0",
  :id 397,
  :examine "Tasty!",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=397"},
 :recipes
 [{:materials [{:name "Raw sea turtle", :quantity "1"}],
   :skills [{:name "Cooking", :level "82", :exp "211.3"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities "Cooking range"}]}
