{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Servery_stew",
  :name "Servery stew",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=13418",
  :ge_value "0",
  :id 13418,
  :examine "Put it on the servery table to feed the troops.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=13418"},
 :recipes
 [{:materials
   [{:name "Bowl of water", :quantity "1"}
    {:name "Servery potato", :quantity "1"}
    {:name "Servery cooked meat", :quantity "1"}],
   :skills [{:name "Cooking", :level "25", :exp "4"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities "Clay oven"}
  {:materials [{:name "Servery uncooked stew", :quantity "1"}],
   :skills [{:name "Cooking", :level "25", :exp "4"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities "Clay oven"}]}
