{:meta
 {:tradable false,
  :wiki
  "https://oldschool.runescape.wiki/w/Shayzien_supply_greaves_%283%29",
  :name "Shayzien supply greaves (3)",
  :value "10",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=13551",
  :ge_value "0",
  :id 13551,
  :examine "Supplies for the Shayzien soldiers.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=13551"},
 :recipes
 [{:materials [{:name "Lovakite bar", :quantity "3"}],
   :skills [{:name "Smithing", :level "71", :exp "30"}],
   :members_only true,
   :ticks "4",
   :tools "Hammer",
   :facilities "Anvil"}]}
