{:meta
 {:tradable false,
  :wiki
  "https://oldschool.runescape.wiki/w/Shayzien_supply_helm_%285%29",
  :name "Shayzien supply helm (5)",
  :value "10",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=13560",
  :ge_value "0",
  :id 13560,
  :examine "Supplies for the Shayzien soldiers.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=13560"},
 :recipes
 [{:materials [{:name "Lovakite bar", :quantity "2"}],
   :skills [{:name "Smithing", :level "89", :exp "20"}],
   :members_only true,
   :ticks "4",
   :tools "Hammer",
   :facilities "Anvil"}]}
