{:meta
 {:tradable true,
  :wiki
  "https://oldschool.runescape.wiki/w/Slayer%27s_respite_%28keg%29",
  :name "Slayer's respite (keg)",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=5835",
  :ge_value "0",
  :id 5835,
  :examine "This keg contains 1 pint of Slayer's Respite.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=5835"},
 :recipes
 [{:materials
   [{:name "Bucket of water", :quantity "2"}
    {:name "Barley malt", :quantity "2"}
    {:name "Wildblood hops", :quantity "4"}
    {:name "Ale yeast", :quantity "1"}
    {:name "Calquat keg", :quantity "2"}],
   :skills [{:name "Cooking", :level "19", :exp "215"}],
   :members_only true,
   :ticks "3",
   :tools nil,
   :facilities nil}]}
