{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Slender_blade",
  :name "Slender blade",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=6817",
  :ge_value "0",
  :id 6817,
  :examine "A slender two-handed sword.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=6817"},
 :recipes
 [{:materials [{:name "Mithril 2h sword", :quantity "1"}],
   :skills [{:name "Smithing", :level "65", :exp "0"}],
   :members_only true,
   :ticks nil,
   :tools nil,
   :facilities "Doric's Whetstone"}]}
