{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Spider_on_shaft",
  :name "Spider on shaft",
  :value "20",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 6295,
  :examine "A raw spider threaded onto an arrow shaft.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Arrow shaft", :quantity "1"}
    {:name "Spider carcass", :quantity "1"}],
   :skills [{:name "Cooking", :level "16", :exp "0"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}
  {:materials
   [{:name "Skewer stick", :quantity "1"}
    {:name "Spider carcass", :quantity "1"}],
   :skills [{:name "Cooking", :level "16", :exp "0"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}
  {:materials [{:name "Spider on shaft#Raw", :quantity "1"}],
   :skills [{:name "Cooking", :level "16", :exp "80"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities "Cooking range"}]}
