{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/",
  :name "Stamina potion",
  :value "100",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=",
  :ge_value "0",
  :id 12631,
  :examine "1 dose of stamina potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id="},
 :recipes
 [{:materials
   [{:name "Super energy(4)", :quantity "1"}
    {:name "Amylase crystal", :quantity "4"}],
   :skills [{:name "Herblore", :level "77", :exp "102"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
