{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Steel_spear",
  :name "Steel spear",
  :value "325",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1241",
  :ge_value "0",
  :id 1241,
  :examine "A steel tipped spear.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1241"},
 :recipes
 [{:materials
   [{:name "Steel bar", :quantity "1"}
    {:name "Willow logs", :quantity "1"}],
   :skills [{:name "Smithing", :level "35", :exp "75"}],
   :members_only true,
   :ticks "4",
   :tools "Hammer",
   :facilities "Barbarian anvil"}]}
