{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Steel_arrowtips",
  :name "Steel arrowtips",
  :value "6",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=41",
  :ge_value "0",
  :id 41,
  :examine "I can make some arrows with these.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=41"},
 :recipes
 [{:materials [{:name "Steel bar", :quantity "1"}],
   :skills [{:name "Smithing", :level "35", :exp "37.5"}],
   :members_only true,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
