{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Steel_axe",
  :name "Steel axe",
  :value "200",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1353",
  :ge_value "0",
  :id 1353,
  :examine "A woodcutter's axe.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1353"},
 :recipes
 [{:materials [{:name "Steel bar", :quantity "1"}],
   :skills [{:name "Smithing", :level "31", :exp "37.5"}],
   :members_only false,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
