{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Steel_nails",
  :name "Steel nails",
  :value "3",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1539",
  :ge_value "0",
  :id 1539,
  :examine "Keeps things in place fairly permanently.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1539"},
 :recipes
 [{:materials [{:name "Steel bar", :quantity "1"}],
   :skills [{:name "Smithing", :level "34", :exp "37.5"}],
   :members_only false,
   :ticks "5",
   :tools "Hammer",
   :facilities "Anvil"}]}
