{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Superattack_mix",
  :name "Superattack mix",
  :value "90",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=11471",
  :ge_value "0",
  :id 11471,
  :examine "One dose of fishy super Attack potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=11471"},
 :recipes
 [{:materials
   [{:name "Super attack(2)", :quantity "1"}
    {:name "Caviar", :quantity "1"}],
   :skills [{:name "Herblore", :level "47", :exp "33"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
