{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Super_restore_mix",
  :name "Super restore mix",
  :value "120",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=11495",
  :ge_value "0",
  :id 11495,
  :examine "One dose of fishy super restore potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=11495"},
 :recipes
 [{:materials
   [{:name "Super restore(2)", :quantity "1"}
    {:name "Caviar", :quantity "1"}],
   :skills [{:name "Herblore", :level "67", :exp "48"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
