{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Super_defence",
  :name "Super defence",
  :value "132",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=167",
  :ge_value "0",
  :id 167,
  :examine "1 dose of super Defence potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=167"},
 :recipes
 [{:materials
   [{:name "Cadantine potion (unf)", :quantity "1"}
    {:name "White berries", :quantity "1"}],
   :skills [{:name "Herblore", :level "66", :exp "150"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
