{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Super_restore",
  :name "Super restore",
  :value "120",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=3030",
  :ge_value "0",
  :id 3030,
  :examine "1 dose of super restore potion.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=3030"},
 :recipes
 [{:materials
   [{:name "Snapdragon potion (unf)", :quantity "1"}
    {:name "Red spiders' eggs", :quantity "1"}],
   :skills [{:name "Herblore", :level "63", :exp "142.5"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
