{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Taverley_teleport",
  :name "Taverley teleport",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=11742",
  :ge_value "0",
  :id 11742,
  :examine "This tablet has been redirected to the Taverley portal.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=11742"},
 :recipes
 [{:materials
   [{:name "Teleport to house (tablet)", :quantity "1"}
    {:name "Scroll of redirection", :quantity "1"}],
   :skills [{:name "Construction", :level "10", :exp "0"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
