{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Teak_clock",
  :name "Teak clock (flatpack)",
  :value "10",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=8592",
  :ge_value "0",
  :id 8592,
  :examine "How does it all fit in there?",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=8592"},
 :recipes
 [{:materials
   [{:name "Teak plank", :quantity "2"}
    {:name "Clockwork", :quantity "1"}],
   :skills [{:name "Construction", :level "55", :exp "202"}],
   :members_only true,
   :ticks "5",
   :tools "Saw, Hammer",
   :facilities "Workbench"}]}
