{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Teak_plank",
  :name "Teak plank",
  :value "500",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=8780",
  :ge_value "0",
  :id 8780,
  :examine "A plank of fine teak.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=8780"},
 :recipes
 [{:materials
   [{:name "Teak logs", :quantity "1"}
    {:name "Coins", :quantity "500"}],
   :skills [],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities "Sawmill"}]}
