{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Teak_sapling",
  :name "Teak sapling",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=21477",
  :ge_value "0",
  :id 21477,
  :examine
  "This sapling is ready to be replanted in a hardwood tree patch.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=21477"},
 :recipes
 [{:materials [{:name "Teak seedling (w)", :quantity "1"}],
   :skills [{:name "Farming", :level "35", :exp "0"}],
   :members_only true,
   :ticks "Varies",
   :tools nil,
   :facilities nil}]}
