{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Topaz_amulet_%28u%29",
  :name "Topaz amulet (u)",
  :value "1275",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=21105",
  :ge_value "0",
  :id 21105,
  :examine "It needs a string so I can wear it.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=21105"},
 :recipes
 [{:materials
   [{:name "Red topaz", :quantity "1"}
    {:name "Silver bar", :quantity "1"}],
   :skills [{:name "Crafting", :level "45", :exp "80"}],
   :members_only true,
   :ticks "3",
   :tools "Amulet mould",
   :facilities nil}]}
