{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Toy_cat",
  :name "Toy cat",
  :value "10",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=7771",
  :ge_value "0",
  :id 7771,
  :examine "Nice bit of crafting!",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=7771"},
 :recipes
 [{:materials
   [{:name "Clockwork", :quantity "1"} {:name "Plank", :quantity "1"}],
   :skills [{:name "Crafting", :level "85", :exp "15"}],
   :members_only true,
   :ticks "3",
   :tools nil,
   :facilities "Crafting table 4"}]}
