{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Tuna_potato",
  :name "Tuna potato",
  :value "113",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=7060",
  :ge_value "0",
  :id 7060,
  :examine "A baked potato with tuna and sweetcorn.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=7060"},
 :recipes
 [{:materials
   [{:name "Tuna and corn", :quantity "1"}
    {:name "Potato with butter", :quantity "1"}],
   :skills [{:name "Cooking", :level "68", :exp "10"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
