{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Ugthanki_kebab",
  :name "Ugthanki kebab",
  :value "20",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1885",
  :ge_value "0",
  :id 1885,
  :examine "A fresh kebab made from ugthanki meat.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1885"},
 :recipes
 [{:materials
   [{:name "Kebab mix", :quantity "1"}
    {:name "Pitta bread", :quantity "1"}],
   :skills [{:name "Cooking", :level "58", :exp "40"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
