{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Uncooked_mushroom_pie",
  :name "Uncooked mushroom pie",
  :value "16",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=21684",
  :ge_value "0",
  :id 21684,
  :examine "This would be much tastier cooked.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=21684"},
 :recipes
 [{:materials
   [{:name "Sulliuscep cap", :quantity "1"}
    {:name "Pie shell", :quantity "1"}],
   :skills [{:name "Cooking", :level "60", :exp "0"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
