{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Unfired_bowl",
  :name "Unfired bowl",
  :value "2",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=1791",
  :ge_value "0",
  :id 1791,
  :examine "I need to put this in a pottery oven.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=1791"},
 :recipes
 [{:materials [{:name "Soft clay", :quantity "1"}],
   :skills [{:name "Crafting", :level "8", :exp "18"}],
   :members_only false,
   :ticks "3",
   :tools nil,
   :facilities "Pottery wheel"}]}
