{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Vial",
  :name "Vial (jangerberries and guam leaf)",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=2390",
  :ge_value "0",
  :id 2390,
  :examine "A mixture of jangerberries and a guam leaf in a vial.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=2390"},
 :recipes
 [{:materials
   [{:name "Guam potion (unf)", :quantity "1"}
    {:name "Jangerberries", :quantity "1"}],
   :skills [{:name "Herblore", :level "14", :exp "10"}],
   :members_only true,
   :ticks nil,
   :tools nil,
   :facilities nil}
  {:materials
   [{:name "Vial (jangerberries)", :quantity "1"}
    {:name "Guam leaf", :quantity "1"}],
   :skills [{:name "Herblore", :level "14", :exp "10"}],
   :members_only true,
   :ticks nil,
   :tools nil,
   :facilities nil}]}
