{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Vial",
  :name "Vial",
  :value "2",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=229",
  :ge_value "0",
  :id 229,
  :examine "An empty glass vial.",
  :members_only false,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=229"},
 :recipes
 [{:materials [{:name "Molten glass", :quantity "1"}],
   :skills [{:name "Crafting", :level "33", :exp "35"}],
   :members_only true,
   :ticks "3",
   :tools "Glassblowing pipe",
   :facilities nil}]}
