{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/White_tree_shoot",
  :name "White tree shoot",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=6461",
  :ge_value "0",
  :id 6461,
  :examine "A shoot that has been cut from a dying White Tree.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=6461"},
 :recipes
 [{:materials
   [{:name "Filled plant pot", :quantity "1"}
    {:name "White tree shoot", :quantity "1"}],
   :skills [{:name "Farming", :level "25", :exp "0"}],
   :members_only true,
   :ticks "0",
   :tools "Gardening trowel",
   :facilities nil}
  {:materials [{:name "White tree shoot", :quantity "1"}],
   :skills [{:name "Farming", :level "25", :exp "0"}],
   :members_only true,
   :ticks nil,
   :tools "Watering can",
   :facilities nil}]}
