{:meta
 {:tradable false,
  :wiki "https://oldschool.runescape.wiki/w/Wig",
  :name "Wig",
  :value "1",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=2421",
  :ge_value "0",
  :id 2421,
  :examine "A grey woollen wig.",
  :members_only false,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=2421"},
 :recipes
 [{:materials [{:name "Ball of wool", :quantity "3"}],
   :skills [],
   :members_only false,
   :ticks "0",
   :tools nil,
   :facilities "Ned"}
  {:materials
   [{:name "Wig", :quantity "1"} {:name "Yellow dye", :quantity "1"}],
   :skills [],
   :members_only false,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
