{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Wizard_blizzard",
  :name "Wizard blizzard",
  :value "30",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=2054",
  :ge_value "0",
  :id 2054,
  :examine "This looks like a strange mix.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=2054"},
 :recipes
 [{:materials
   [{:name "Mixed blizzard", :quantity "1"}
    {:name "Pineapple chunks", :quantity "1"}
    {:name "Lime slices", :quantity "1"}
    {:name "Cocktail glass", :quantity "1"}],
   :skills [{:name "Cooking", :level "18", :exp "0"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
