{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Xeric%27s_aid",
  :name "Xeric's aid",
  :value "2",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=20977",
  :ge_value "0",
  :id 20977,
  :examine
  "The power of Xeric is stored within this potion. It was mixed reasonably well.",
  :members_only true,
  :exchange false,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=20977"},
 :recipes
 [{:materials
   [{:name "Water-filled gourd vial", :quantity "1"}
    {:name "Buchu leaf", :quantity "1"}
    {:name "Endarkened juice", :quantity "1"}],
   :skills [{:name "Herblore", :level "65", :exp "20"}],
   :members_only true,
   :ticks "2",
   :tools nil,
   :facilities nil}]}
