{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Yew_shortbow_%28u%29",
  :name "Yew shortbow (u)",
  :value "400",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=68",
  :ge_value "0",
  :id 68,
  :examine "An unstrung yew shortbow; I need a bowstring for this.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=68"},
 :recipes
 [{:materials [{:name "Yew logs", :quantity "1"}],
   :skills [{:name "Fletching", :level "65", :exp "67.5"}],
   :members_only true,
   :ticks "3",
   :tools "Knife",
   :facilities nil}]}
