{:meta
 {:tradable true,
  :wiki "https://oldschool.runescape.wiki/w/Zamorak_mix",
  :name "Zamorak mix",
  :value "125",
  :icon
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_sprite.gif?id=11523",
  :ge_value "0",
  :id 11523,
  :examine "One dose of fishy Zamorak brew.",
  :members_only true,
  :exchange true,
  :icon_large
  "http://services.runescape.com/m=itemdb_oldschool/1588586637705_obj_big.gif?id=11523"},
 :recipes
 [{:materials
   [{:name "Zamorak brew(2)", :quantity "1"}
    {:name "Caviar", :quantity "1"}],
   :skills [{:name "Herblore", :level "85", :exp "58"}],
   :members_only true,
   :ticks "1",
   :tools nil,
   :facilities nil}]}
